<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="marker_frame_id"     default="/base_link"/>
  <arg name="user_marker_size"	  default="12.3"/>

    <!-- ar_marker pacakge -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_ar"
      args="0.0 0.0 0.0 0.0 0.0 0.0 camera_bottom_screw_frame camera_link 100" /> -->
      <!-- args="x y z r p y parent_link_of_the_camera camera_link sample_rate" -->  
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="marker_size" value="$(arg user_marker_size)" />
    <arg name="max_new_marker_error" value="0.08" />
    <arg name="max_track_error" value="0.2" />
    <arg name="cam_image_topic" value="/d435/rgb/image_raw" />
    <arg name="cam_info_topic" value="/d435/rgb/camera_info" />
    <arg name="output_frame" value="$(arg marker_frame_id)" />
  </include> 

  <!-- DARKNET--> 
   <include file="$(find hj_object_detect)/launch/hj_object_detect.launch">
      <arg name="sim" value="true"/>
   </include>



  <arg name="config" default="true" />
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find ur3_hj3_moveit_config)/config/moveit_rviz_yolo.rviz" />


  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find ur3_hj3_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
